<div class="wrapper wrapper-content">
    <div class="row" id="parRowWraper" style="position: relative;">
        <div class="col-md-12 height-full" id="tableWraper">
            <div class="panel panel-default height-full">
                <div class="panel-heading">未关联设备模块信息</div>
                <div class="panel-body height-fullbody height-scroll">
                    <div class="row" style="margin-bottom: 5px;margin-right: 0px;">
                        <div class="col-sm-5 m-b-xs"></div>
                        <div class="col-sm-7 m-b-xs no-padding-right">
                            <div class="input-group">
                                <input [(ngModel)]='keyword' class="form-control ng-untouched ng-pristine ng-valid"
                                       placeholder="请按照关键字(串码/型号/描述/厂商/参数/备注)进行搜索"
                                       type="text" (keyup)="enterSearch($event)">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" (click)='search()'>
                                        <i class="fa fa-search"></i>搜索
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>模块串码</th>
                            <th>模块型号</th>
                            <th>模块描述</th>
                            <th>厂商</th>
                            <th>其他硬件参数</th>
                            <th>备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of moduleTable;let dx = index;">
                            <td>{{(dx+1)+(pageIndex-1)*perPagNo}}</td>
                            <td>{{item.sn}}</td>
                            <td>{{item.model}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.manufacturer}}</td>
                            <td>{{item.other}}</td>
                            <td>{{item.remark}}</td>
                        </tr>
                        <tr *ngIf="!moduleTable || moduleTable.length==0">
                            <td colspan="100%" class="text-center">没有记录!</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="100%">
                                <atnd-dynamic-pagination [perPageNo]="perPagNo" [total]="total"
                                                         (onChanged)="onPaginationChanged($event)">
                                </atnd-dynamic-pagination>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>