.height-full {
  height: 100%;
  padding-right: 0;
}

.height-scroll {
  overflow-y: auto;
}

.height-fullbody {
  height: calc(100% - 40px);
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.btn-radiu button {
  margin-right: 10px;
}

.no-padding-right {
  padding-right: 0;
}

.btn-radiu button:first-child {
}

.btn-radiu button:last-child {
  margin-right: 0px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ui-upload {
  height: 30px;
  width: 80px;
  background-color: #00abff;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  color: #fff;
  border-radius: 3px;
}

.red {
  color: red;
}

.green {
  color: green;
}
.overflow{
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
