<div class="modal-header">
    <h4 class="modal-title pull-left">授权人员</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style="padding-bottom: 10px;overflow-y: auto;" id="modal-body">

    <div class="input-group search-area" style="margin-bottom: 5px;">
        <input id="filter" class="form-control" name="filterComment"
               [(ngModel)]="filterComment"
               #filter (keyup)="tree.treeModel.filterNodes(filter.value)"
               placeholder="输入名称搜索"/>
        <div class=" input-group-btn">
            <button class="btn btn-md btn-primary"
                    (click)="tree.treeModel.clearFilter();filterComment= '';">
                清空
            </button>
        </div>
    </div>
    <tree-root #tree
               [nodes]="groupNodes"
               [options]="options"
               (initialized)="onInitialized(tree)"
               [focused]="true"
    >
        <ng-template #treeNodeTemplate let-node let-index="index">
            <i class='fa fa-home' *ngIf="node.data.nodeType == 'platform'"> </i>
            <i class='fa fa-cogs' *ngIf="node.data.nodeType == 'property'"> </i>
            <i class='fa fa-cog' *ngIf="node.data.nodeType == 'project'"> </i>
            &nbsp;
            <span>{{ node.data.name }}</span>
        </ng-template>
    </tree-root>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">取消</button>
    <button type="submit" class="btn btn-primary" (click)="subime()">提交</button>
</div>