<div class="row" style="margin-right: 0px;">
    <div class="col-sm-6 m-b-xs btn-radiu">
        <button *ngIf="isAdminPlat&&pagetitle=='维护授权'" hide-node type="button" class="btn btn-warning float-left"
                [disabled]='moduleIdList.length==0' (click)="openModal()">
            <i class="fa fa-pencil-square-o"></i>&nbsp;授权
        </button>
        <button *ngIf="isAdmin&&pagetitle=='模块授权'" hide-node type="button" class="btn btn-warning float-left"
                [disabled]='moduleIdList.length==0' (click)="openModal()">
            <i class="fa fa-pencil-square-o"></i>&nbsp;授权
        </button>
    </div>
    <!-- <div class="col-sm-6 m-b-xs no-padding-right">
        <div class="input-group">
            <input  [(ngModel)]='keyword' class="form-control ng-untouched ng-pristine ng-valid" placeholder="搜索" type="text" ng-reflect-model="" (keyup)="enterSearch($event)">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" (click)='search()'>
                    <i class="fa fa-search"></i>搜索
                </button>
            </span>
        </div>
    </div> -->

</div>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>序号</th>
        <th>姓名</th>
        <th>联系方式</th>
        <th>性别</th>
        <th>用户身份</th>
        <th>是否锁定</th>
        <th>状态</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of userTable,let dx = index">
        <td>{{(dx+1)+(pageIndex-1)*perPagNo}}</td>
        <td>{{item.userName}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.sex ? '男' : '女'}}</td>
        <td>{{item.admin ? '管理员' : '普通员工'}}</td>
        <td>{{item.locked ? '锁定' : '不锁定'}}</td>
        <td [innerHTML]="formatter(item.status)"></td>
    </tr>
    <tr *ngIf="!userTable || userTable.length==0">
        <td colspan="100%" class="text-center">没有记录!</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th colspan="100%">
            <atnd-dynamic-pagination [perPageNo]="perPagNo" [total]="total" (onChanged)="onPaginationChanged($event)">
            </atnd-dynamic-pagination>
        </th>
    </tr>
    </tfoot>
</table>